#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .image-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}


img {
  width: 100%;
} */

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  align-items: flex-start;
}

.image-div {
  width: calc(30% - 10px);
  margin: 5px;
  background-color: antiquewhite
}

.image-grid img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}